aniso8601==9.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-RESTful==0.3.9
idna==3.3
imagekitio==2.2.8
importlib-metadata==4.11.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy==1.21.5
opencv-python==4.5.5.62
pymongo==4.0.2
pytz==2021.3
requests==2.27.1
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0
